html{
	scroll-behavior: smooth;
}

h1,h2,h3,h4,h5{
	font-family: 'Muli', 'Helvetica', sans-serif;
	color:#1D4682;
	font-weight: 760000;
}

#hero{
	height: 100%;
	min-height: 880px;
	background: url(../img/background-3.jpg);
    background-size: cover;
	background-position: center;
	border-top: 14px solid #1D4682;
	border-bottom: 14px solid #1D4682;
	padding-top: 5rem;
	padding-bottom:5rem;
	/* background-position-y: -400px; */
	
}
#hero h1{
	font-size: 60px;
	color: #1D4682;
}

@media only screen and (max-width: 500px) {
	#hero h1 {
		font-size: 32px;
		color: #1D4682;
	}
  }
@media only screen and (max-width: 500px) {
	h1 {
		font-size: 32px;
		color: #1D4682;
	}
  }
body{
	font-family: 'Open Sans', sans-serif;
}
#opportunity{
	background: url(../img/hero-map-3.jpg);
    background-size: cover;
	background-position: center;
	border-top: 14px solid #1D4682;
	border-bottom: 14px solid #1D4682;
	padding-top: 5rem;
	padding-bottom:5rem;
	/* height: 100vh; */
}
@media only screen and (max-width: 500px) {
	#hero {
		padding-top: 0rem;
		padding-bottom: 0rem;
	}
  }

#benfeat h1{
	color: #FFFFFF;
}

@media only screen and (max-width: 500px) {
	#alignNavbar{
		padding-right: 1rem;
	}
  }
  @media only screen and (min-width: 501px) {
	.nav-item{
		padding-right: 5rem;
	}
  }
/* 
  @media only screen and (min-width: 1400px) {
	#opportunity{
		padding-top: 10rem;
		padding-bottom: 10rem;
	}
  }   */
.responsive{
	max-width: 540px;
	min-width: 100px;
	width: 100%;
	height: auto;
}

.group-grid{
	position: relative;
	top: 0;
	left: 0;
}
.group{
	position: relative;
	top: 0;
	left: 0;
}
.group-image {
	position: absolute;
	top: 30px;
	left: 70px;
  }

  .bg-white{
	  background-color: #FFFFFF;
  }

  .material-icons{
	  color: #424B5A;
  }

  .blue-icon{
	color: #2962FF;
  }
  .white-icon{
	color: #FFFFFF;
  }

  .pmr-0{
	  padding-right: 0;
	  margin-right: 0;
  }

  .pml-0{
	padding-left: 0;
	margin-left: 0;
}

#benfeat{
	background-repeat:no-repeat;
    background-position: center center;
	/* background-image: linear-gradient(to bottom right, #1D4682, #2960B1); */
	background-color: #1D4682;
	min-height:100%;
	color: #FFFFFF;
}

#cta-bot{
	background-repeat:no-repeat;
    background-position: center center;
	/* background-image: linear-gradient(to bottom right, #1D4682, #2960B1); */
	background-color: #EFEFEF;
	min-height:100%;
	color: #0D0D0D;
}

.background-routes {
    background: url(../img/background.svg);
    background-size: cover;
	background-position: center;
	background-attachment: fixed;
	
}
.background-grid {
    background: url(../img/background-grids.svg);
    background-size: cover;
	background-position: center;
	/* background-attachment: fixed; */
	/* background-position-y: -370px */
	
}

.white-border{
	border-bottom: solid white 1px;
}

@media only screen and (max-width: 900px) {
	.desktop-footer{
		display: none;
	}
  }
  @media only screen and (min-width: 901px) {
	.mobile-footer{
		display:none;
	}
  }

  .text-grey{
	  color: #CFD8DC;
  }
li .text-grey:on-hover{
	color: #FFFFFF;
}
.text-blue{
	color: #2962FF;
}

@media screen and ( max-width: 800px) {
    .order-1 {
        order: 1;
    }
    .order-2 {
        order: 2;
	}
	.order-3 {
        order: 3;
    }
}

.button {
	border-radius: 4px;
	background-color:#A42051;
	border: none;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .button:hover{
	  background-color: #E12A6E;
	  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .button:active {
	background-color: #9F0D44;
	background-size: 100%;
  }

.hero-animation{
	width:100%;
}

.content-card{
	background-color: rgba(255,255,255,1);
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	padding: 2rem;
}


.button-white{
	background-color: white;
}
.button-white:hover{
	color: white;
}

.hero-text{
	font-size: 18px;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

    /* the rest of your styling */
}
.has-icon .form-control {
    padding-left: 2.375rem;
}

.has-icon .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.px-10rem{
	padding-left: 10rem;
	padding-right: 10rem;
}

.btn-primary {
	border-radius: 4px;
	background-color:#A42051;
	border: none;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .btn-primary:hover{
	  background-color: #E12A6E;
	  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .btn-primary:active {
	background-color: #9F0D44;
	background-size: 100%;
  }
  .btn-primary:focus {
	background-color: #FFFFFF;
	background-size: 100%;
	border: #9F0D44 1px solid;
	color: #9F0D44;
  }

  .btn-outline-primary{
	border-radius: 4px;
	background-color:#FFFFFF;
	border: #9F0D44 solid 1px;
	transition: all 0.5s;
	color: #9F0D44;
  }
  .btn-outline-primary:hover{
	background-color: rgb(199, 199, 199);
	border: #9F0D44 solid 1px;
	color: #9F0D44;
}

.btn-outline-primary:active {
  background-color: #FFFFFF;
  border: #9F0D44 solid 1px;
  background-size: 100%;
  color: #9F0D44;
}

.btn-outline-primary:focus {
	background-color: #9F0D44;
	background-size: 100%;
	color: #FFFFFF;
  }


#stats{
	background-repeat:no-repeat;
    background-position: center center;
	/* background-image: linear-gradient(to bottom right, #1D4682, #2960B1); */
	background-color: #2290A9;
	min-height:100%;
}

#benfeat li{
	font-size: 1.5rem;
}

.cd-title {
	position: relative;
	height: 160px;
	line-height: 230px;
	text-align: center;
  }
  .cd-title h1 {
	font-size: 2.4rem;
	font-weight: 700;
  }
  @media only screen and (min-width: 768px) {
	.cd-title {
	  line-height: 250px;
	}
  }
  @media only screen and (min-width: 1170px) {
	.cd-title {
	  height: 200px;
	  line-height: 300px;
	}
	.cd-title h1 {
	  font-size: 3rem;
	}
  }
  
  .cd-intro {
	width: 90%;
	max-width: 768px;
	text-align: center;
  }
  
  .cd-intro {
	margin: 4em auto;
  }
  @media only screen and (min-width: 768px) {
	.cd-intro {
	  margin: 5em auto;
	}
  }
  @media only screen and (min-width: 1170px) {
	.cd-intro {
	  margin: 6em auto;
	}
  }
  
  .cd-headline {
	font-size: 3rem;
	line-height: 1.2;
  }
  @media only screen and (min-width: 768px) {
	.cd-headline {
	  font-size: 4.4rem;
	  font-weight: 300;
	}
  }
  @media only screen and (min-width: 1170px) {
	.cd-headline {
	  font-size: 6rem;
	}
  }
  
  .cd-words-wrapper {
	display: inline-block;
	position: relative;
	text-align: left;
  }
  .cd-words-wrapper b {
	display: inline-block;
	position: absolute;
	white-space: nowrap;
	left: 0;
	top: 0;
  }
  .cd-words-wrapper b.is-visible {
	position: relative;
  }
  .no-js .cd-words-wrapper b {
	opacity: 0;
  }
  .no-js .cd-words-wrapper b.is-visible {
	opacity: 1;
  }
  .cd-headline.clip span {
	display: inline-block;
	padding: .2em 0;
  }
  .cd-headline.clip .cd-words-wrapper {
	overflow: hidden;
	vertical-align: top;
  }
  .cd-headline.clip .cd-words-wrapper::after {
	/* line */
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	background-color: #2290A9;
  }
  .cd-headline.clip b {
	opacity: 0;
  }
  .cd-headline.clip b.is-visible {
	opacity: 1;
  }

  .text-teal{
	color: #2290A9;
  }
  .text-berry{
	  color: #A42051;
  }

  .text-grey{
	  color: #78909C;
  }
  .fw-300{
	font-weight: 300;
  }